<div id="collection-sidebar" class="desktop-3 mobile-3">
  <a id="dropdown" href="#" title="Click This Button" class="button">Menu</a>
  <div class="dropdownwrap">

    {% if settings.homepage-collection-title ==  blank %}
    <h4>{{ 'collections.sidebar.linklist_title' | t }}</h4>
    {% else %}
    <h4>{{ settings.collection_linklist_1_title }}</h4>
    {% endif %}          

    <div class="sidenav">
      <ul>
        {% for link in linklists[settings.collection_side_1].links %}
        <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
      </ul>
    </div>
    {% include 'sidesort' %}
  </div>
</div>


<script>
  $(document).ready(function(e){
    $('#dropdown').on('click',function(){
      $('.dropdownwrap').slideToggle();
    });

  })
</script>