<section class="homepage-section">
  <article class="row">
    <h1 class="section-title clearfix desktop-12">{{ pages[settings.homepage_content].title }}</h1>
      <div class="rte desktop-12">{{ pages[settings.homepage_content].content }}</div>
  </article>
</section>
<div class="clear"></div>