<section class="homepage-section">
  <article class="row">  
    <h2 class="section-title clearfix desktop-12">{{ 'layout.homepage.products_title' | t }}</h2>
    <div id="product-loop">
    {% for product in collections[settings.homepage-collection].products limit: settings.homepage-product-limit %}
    {% assign products-per-row = settings.products-per-row %}
    <div class="product-index {% if products-per-row == "6" %}desktop-2{% cycle ' first', '', '', '', '', ' last' %}{% elsif products-per-row == "4" %}desktop-3{% cycle ' first', '', '', ' last' %}{% elsif products-per-row == "3" %}desktop-4{% cycle ' first', '', ' last' %}{% elsif products-per-row == "2" %}desktop-6{% cycle ' first', ' last' %}{% endif %} tablet-half mobile-half" id="prod-{{ product.id}}" data-alpha="{{ product.title }}" data-price="{{ product.price }}">     
      {% include 'product-listing' %}      
      </div>
      {% endfor %} 
    </div>
  </article>
</section>
<div class="clear"></div>